.oner-force-container
  width 100%
  position relative
  overflow hidden
  z-index 100
  background white
  user-select none
  .oner-force-drag-circle
    position absolute
    border-radius 20px
    top 0
    left 0
    display inline-block
  .oner-force-tooltip-wrap
    position absolute
    box-shadow rgb(153, 153, 153) 0px 0px 3px
    border-radius 2px
    top 0
    left 0
    display inline-block
  .oner-force-wrap
    background white
    .oner-force-graph
      z-index -1
      width 100%
      overflow hidden
      //.arc:hover
      .expand-icon:hover
        cursor pointer
      .nodes-main
        stroke-width 1px


